{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">{{ folder.name }}</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in folder.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }}, {{ note.folder_id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
      <label for="note"></label><textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <img src="https://cdn-icons-png.flaticon.com/512/2599/2599636.png" width="100"/>
      <button type="submit" class="btn btn-primary" style="background-color: rgb(52, 124, 50);">Create Note</button>
    </div>
  </form>
  {% endblock %}